<div class="title text-center">
  List of Players
</div>

<table class="table table-sm table-hover table-striped"">
	<thead class="table-dark">
		<tr>
			<th style="text-align:center">name</th>
			<th style="text-align:center">dateOfBirth</th>
			<th style="text-align:center">height</th>
			<th style="text-align:center">isProfessional</th>
			<th style="text-align:center" colspan="2">Actions</th>
	</thead>
	<tbody>
 
  <% @players.each do |player| %>
		<tr>   
			<td style="text-align:center">
	  			<%= player.name %>
			</td>
			<td style="text-align:center">
	  			<%= player.dateOfBirth %>
			</td>
			<td style="text-align:center">
	  			<%= player.height %>
			</td>
			<td style="text-align:center">
	  			<%= player.isProfessional %>
			</td>
			<td style="vertical-align:middle;text-align:center">
				<%= button_to 'Change', edit_player_path(player), :method => :get, :class => "btn btn-secondary btn-sm"%>
			</td>
			<td style="vertical-align:middle;text-align:center">
				<%= button_to 'Delete', player_path(player), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"%>
			</td>
    	</tr>
  <% end %>
</table>
<%= button_to 'New Player', new_player_path, :method => :get, :class => "btn btn-success btn-sm" %>