<%= form_with model: @matchup, local: true do |form| %>
 
  <% if @matchup.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@matchup.errors.count, "error") %> prohibited
        this matchup from being saved:
      </h2>
      <ul>
        <% @matchup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card">
    <div class="card-body">

  <p>
    <%= form.label :name, { class: 'form-label'} %><br>
	<%= form.text_field :name, { class: 'form-label'} %>
  </p>			
  <p>
  </p>			

      <%= form.submit %>
    
    </div>
  
  </div> 
<% end %>