<%= form_with model: @game, local: true do |form| %>
 
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this game from being saved:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card">
    <div class="card-body">

  <p>
    <%= form.label :frames, { class: 'form-label'} %><br>
	<%= form.text_field :frames, { class: 'form-label'} %>
  </p>			
  <p>
  </p>			
  <p>
  </p>			

      <%= form.submit %>
    
    </div>
  
  </div> 
<% end %>